p#pogrubienie_scibiorski
{
font-size: 35px;
color: #885DD4
}
p#pochylona_scibiorski
{
font-size: 40pt;
color: #ECC170;
}
p#index_gorny_scibiorski
{
font-size: 1,5cm;
color: #9C8F20;
}
p#index_dolny_scibiorski
{
font-size: 2cm;
color: #38F3E8;
}
p#mono_scibiorski
{
font-size: 45px;
color: #1CDFE8;
}
p#powiekszenie_scibiorski
{
color: #563FA2;
}
p#pomniejszenie_scibiorski
{
color: rgb(73%,64%,24%);
}
/*Mateusz Scibiorski 2022-05-25*/